// so many shades of black
$black1: #151619;
$black2: #1D1F22;
$black3: #2B2D31;
$black4: #35393F;

// greys
$grey1: #5a6069;
$grey2: #7C8187;
$grey3: #C1C4CB;
$grey4: #E4E4E4;

// whites
$off-white: #F5F5F5;
$white: #FFFFFF;

// oranges
$dark-orange: #E46643;
$light-orange: #F39765;
