/*
 * Sets project defaults, globals, media query breakpoints, and app layout
 */

// reset browser defaults
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// REM
html {
  font-size: 14px;
}

//  UTILITY CLASSES
$margin-16: 1.15rem; // offset for app elements
