/*
 * These are settings for the general html tags rendered from the markdown.
 * NB: Do not set colors for text and background here b/c of themeing!
 */

textarea {
  border: 0;
}

blockquote {
  border-left: 4px solid $dark-orange;
  border-radius: 4px;
  font-weight: bold;
  padding: 1.7rem;
}

pre {
  border-radius: 4px;
  padding: 1.7rem;
}

ol {
  list-style-position: inside; // to set margin to nubmers and not content
  margin-left: 1.7rem;
}

ul {
  list-style: none;
  margin-left: 1.72rem;

  & > li {
    &::before {
      color: $dark-orange;
      content: '\2022'; // unicode for a bullet
      display: inline-block;
      // change these
      padding-right: 1.14rem;
    }
  }
}

// To have code highlighting when its inline with text.
// https://stackoverflow.com/questions/32812941/highlight-js-inline-mode-possible

code {
  @extend p;
  font-family: 'Roboto Mono', monospace;
}
