/*
 * Typography per supplied documentation.
 * We're using element selectors to target the html-rendered markdown preview
 */

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 42px;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 28px;
  font-weight: lighter;
  line-height: 37px;
}

h3 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

h4 {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
}

h5 {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

h6 {
  color: $dark-orange;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

p {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 24px;
}

li {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 24px;
}

b {
  @extend p;
  font-weight: bold;
}

.in-app-heading-m {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.in-app-heading-s {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 16px;
  letter-spacing: 2px;
}

.in-app-body {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: lighter;
}
